h1{
    color:red;
    background-color:greenyellow;
}

p{
    color:black;
    background-color:rgb(229, 210, 134);
}


button{
    color:black;
    background:orangered;
}


div>input{
    background-color:darksalmon;
}